body {
  background-image: url('https://github.com/blazingdragonhk/blazingdragonhk.github.io/assets/155500927/21cce696-0f4a-4dd1-a0b1-bda389c3a472'); /* Adjust the path based on your file structure */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Fixed background */
}
